{{#with travelById}}
    <h3>Introducción satisfactoria:</h3>
    <pre>
        destino: {{destiny}}.
        precio: {{price}}€.
        descuento: {{discount}}%.
        fecha salida: {{dateInit}}.
        fecha retorno: {{dateTurn}}.
        ruta imagen: {{picpath}}.
    </pre>
    <a class="btn btn-info-success" href="/">Volver a Index</a>
{{/with}}

